.home-section .home-content .jumbo {
  display: flex;
  justify-content: center;
  padding: 12px;
}
.home-section .home-content .jumbo h1 {
  color: #ffbb00;
  text-transform: capitalize;
  margin-top: 20px;
  text-align: center;
}
.home-section .home-content h3,
span,
p {
  color: #fff;
}
.home-section .home-content .row .col-md-2 {
  display: flex;
  justify-content: center;
}
.home-section .home-content .row a {
  display: block;
  width: 150px;
  padding: 5px;
  background: #202020;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
}
.home-section .home-content .row a i {
  color: #fff;
}
.home-section .home-content .row a span {
  align-items: center;
}
@media screen and (max-width: 576px) {
  .home-section .home-content h3,
  p {
    text-align: center;
    padding: 20px;
    color: #fff;
  }
  .home-section .home-content h3 {
    display: none;
  }
}
